.header {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid grey;
  margin-bottom: 5px;
  font-size: 18px;
  color: $whitegrey;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    @media screen and (min-width: 767px) {
      width: 50%;
    }
  }
  &__lenght {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__type {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
    @media screen and (min-width: 767px) {
      width: 35%;
      padding-right: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__search-form {
    margin-right: 5px;
    margin-top: 5px;
  }
}
