@import './variables/vars.scss';
@import './blocks/app-wrapper.scss';
@import './blocks/header.scss';
@import './blocks/file-row.scss';
@import './blocks/folders-list.scss';
@import './blocks/search-form.scss';
html {
    background-color: rgb(13, 17, 23);
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }